* {
    /* border: 1px solid red; */

}

.man-image {
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.man-image img {
    width: 45%;
    height: 90%;


}

@media only screen and (max-width: 1024px) {
    .man-image {
        justify-content: flex-end;
    }

    .man-image img {
        width: 55%;
        height: 80%;
    }
}



/* about css */
.about-heading{
    margin: 1rem 0;
    padding: 10px 0;
}
.about-container {
    display: flex;
    justify-content: center;
    padding: 2.5rem;
}

.about-wrapper {
    width: 80%;
    /* background-color:rebeccapurple; */
}

.my-img-wrapper {
    /* background-color: red; */
    padding: 2rem;
    width: 40%;
    
}

.my-img-wrapper img {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.right-about-wrapper {
    width: 60%;
    padding: 2rem;
}



/* media query for about page */
@media only screen and (max-width: 600px) {
    .about-wrapper {
        width: 100%;
    }

    .about-container {
        padding: 1rem;
    }
    .right-about-wrapper{
        width: 100%;
    }

}

@media only screen and (max-width: 477px) {
    .about-wrapper {
        flex-direction: column;
    }
    .my-img-wrapper{
        width: 100%;
        padding: 1rem;
    } 
}